*.o
*.so
*.mkv
*.mk4
#/*.png
*.eps
*.hdf5
*.pgm
*.pdf
*.fld
*.vtk
*.mp4
*/**/*.pyc
*.pyc
jenkins/jenkins.war
/nosetests.xml
/.idea
misc/experiments/
/.coverage
/coverage.xml

/docs/source/example_start.rst
/docs/source/example_virtual_columns.rst

Untitled*.ipynb

/experiments/*
/htmlcov

InterestingSubspacesNew.txt
Makefile.in
config.guess
config.sub
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.libs
src/Makefile
src/Makefile.in
src/libsubfind.a
subspacefind*.tar.gz
src/subspacefind?la*
**/*.pyc
data/*
build/
doc
docs/build
meeting
#misc
/**/.DS_Store
/**/.ipynb_checkpoints
app
dist
python/.idea
test/.idea
venv
tmp
python/vaex/version.py # gets generated
**/*.egg-info/
.eggs/
bin/.idea
*.npy
**/__pycache__/*
catboost_info/
.vscode

# symlinks generated in setup.py
packages/vaex-core/vaex/astro
packages/vaex-core/vaex/distributed
packages/vaex-core/vaex/graphql
packages/vaex-core/vaex/hdf5
packages/vaex-core/vaex/jupyter
packages/vaex-core/vaex/meta
packages/vaex-core/vaex/ml
packages/vaex-core/vaex/plotly
packages/vaex-core/vaex/server
packages/vaex-core/vaex/ui
packages/vaex-core/vaex/viz
packages/vaex-core/vaex/*.*-win_amd64.pyd

# ASV environment, results database (JSON) and generated HTML static files
.asv/
