language: python
python:
 - 2.7
install:
  - sudo apt-get update
  - sudo apt-get install libhdf5-serial-dev libqt4-dev
  - wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy pyqt matplotlib pyopengl h5py numexpr astropy tornado jupyter
  - source activate test-environment
  - python setup.py install
  - pip install -r requirements.txt

script:
    - python test/dataset.py TestDataset

