environment:
  matrix:
    - PYTHON_VERSION: 3.7
      MINICONDA: C:\Miniconda37-x64
    - PYTHON_VERSION: 3.8
      MINICONDA: C:\Miniconda37-x64
    - PYTHON_VERSION: 3.9
      MINICONDA: C:\Miniconda37-x64

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

cache:
  vaex\packages\vaex-core\build

build: false


install:
  - git submodule update --init --recursive
  - call %MINICONDA%\Scripts\activate.bat
  - conda config --set always_yes yes --set changeps1 no
  - conda config --remove channels defaults
  - conda config --add channels msys2
  - conda update -q conda
  - conda info -a
  - "conda create -y -q -c conda-forge -n vaex-dev python=%PYTHON_VERSION% mamba"
  - activate vaex-dev
  - "mamba install -c conda-forge --file ci/conda-env.yml --file ci/conda-env-notebooks.yml"
  - pip install -r requirements-ml.txt
  - pip install "ipython>=7" "dask>=1" xgboost myst_parser # similar to GHA
  - pip uninstall -y xgboost  # seems to crash, tests will be skipped
  - pushd packages\vaex-core   && pip install . && popd
  - pushd packages\vaex-hdf5   && pip install . && popd
  - pushd packages\vaex-viz   && pip install . && popd
  - pushd packages\vaex-server   && pip install . && popd
  - pushd packages\vaex-astro   && pip install . && popd
  - pushd packages\vaex-jupyter   && pip install . && popd
  - pushd packages\vaex-ui   && pip install . && popd
  - pushd packages\vaex-ml   && pip install . && popd
  - pushd packages\vaex-graphql   && pip install . && popd

test_script:
 - set VAEX_SERVER_OVERRIDE={"dataframe.vaex.io":"dataframe-dev.vaex.io"}
 - python -m vaex.test.dataset TestDataset
 - py.test tests/ --timeout=1000
