environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda-x64
    - PYTHON_VERSION: 3.5
      MINICONDA: C:\Miniconda35-x64

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"


build: false


install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - "conda create -q -n test-environment python=%PYTHON_VERSION% pip numpy scipy pyqt matplotlib pyopengl h5py numexpr astropy tornado cython runipy pandas kapteyn pytest numba pyarrow"
  - activate test-environment
  - pip install -r requirements.txt
  # - pip install coverage
  # - cd packages\vaex-core
  # - pip install --force .
  # - cd ..
  # - cd ..
  - pushd packages\vaex-core   && pip install . && popd
  - pushd packages\vaex-hdf5   && pip install . && popd
  - pushd packages\vaex-viz   && pip install . && popd
  - pushd packages\vaex-server   && pip install . && popd
  - pushd packages\vaex-astro   && pip install . && popd
  - pushd packages\vaex-distributed   && pip install . && popd
  - pushd packages\vaex-jupyter   && pip install . && popd
  - pushd packages\vaex-ui   && pip install . && popd

test_script:
 - python -m vaex.test.dataset
# - runipy examples/tutorial_ipython_notebook.ipynb
# - runipy examples/advanced_plotting.ipynb
