sphinxcontrib-googleanalytics
future
pyyaml
astropy
psutil>=1.2.1
numpy>=1.7.2
aplus
tornado==4.1
futures==2.2.0
kapteyn
cachetools
progressbar2
jupyter
nbconvert>=5.1.1
nbsphinx>=0.2.13
ipython
jupyter-sphinx>=0.1.2