sphinx-sitemap
sphinxcontrib-googleanalytics
future
pyyaml
astropy
psutil>=1.2.1
numpy>=1.13
aplus
tornado>=5.0
futures==2.2.0
cachetools
progressbar2
jupyter
nbconvert>=5.1.1
nbsphinx>=0.2.18
ipython
jupyter-sphinx>=0.1.2
pip>=10.0
annoy
lightgbm
xgboost
sphinx_gallery
catboost