name: Python package

on:
  pull_request:
    branches:
    - master
    - docs
  schedule:
  - cron: "0 2 * * 1-5"
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.6, 3.7, 3.8]
        exclude:
        # windows + conda + py38 doesn't work yet (dependency issue)
        - os: windows-latest
          python-version: 3.8

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - uses: actions/checkout@v2
      if: ${{ (github.event.pull_request.head.repo.full_name == 'vaexio/vaex') && (matrix.os == 'linux-latest') }}
      with:
        repository: vaexio/vaex-enterprise
        token: ${{ secrets.PAT_PULL_ENTERPRISE }}
        path: vaex-enterprise
    - name: Install conda with Python ${{ matrix.python-version }}
      uses: s-weigand/setup-conda@v1
      with:
        python-version: ${{ matrix.python-version }}
        conda-channels: anaconda, conda-forge
    # cannot use mamba on windows, see https://github.com/TheSnakePit/mamba/issues/249 for libssh2+mambba issue
    - name: Create env (with mamba)
      if: matrix.os != 'windows-latest'
      shell: bash
      run: |
        conda install -c conda-forge mamba
        ./ci/02-create-vaex-dev-env.sh ${{ matrix.python-version }} mamba
    - name: Create env (with conda)
      if: matrix.os == 'windows-latest'
      shell: bash
      run: |
        ./ci/02-create-vaex-dev-env.sh ${{ matrix.python-version }}
        source activate vaex-dev
        pip install "ipython>=7" "dask>=1"
        # not sure why, but the conda env is strange (old dask) if we put this constraint in the conda solver
    - name: free disk space
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h
    - name: Install OpenMP runtime (Mac-only)
      if: matrix.os == 'macOS-latest'
      run: |
        brew install libomp
    - name: Cache compiled binaries
      id: cache-compiled-binaries
      uses: actions/cache@v2
      with:
        path: packages/vaex-core/build
        key: ${{ runner.OS }}-${{ matrix.python-version }}-${{ hashFiles('packages/vaex-core/src/*') }}-v2
    - name: Fix cache timestamp
      if: steps.cache-compiled-binaries.outputs.cache-hit == 'true' && matrix.os != 'windows-latest'
      shell: bash
      run: |
        find packages/vaex-core/build -type f -exec touch {} +
    - name: Install vaex
      shell: bash
      run: |
        ./ci/03-install-vaex.sh
    - name: Install vaex-enterprise
      if: ${{ (github.event.pull_request.head.repo.full_name == 'vaexio/vaex') && (matrix.os == 'linux-latest') }}
      shell: bash
      run: |
        conda config --set always_yes yes --set changeps1 no
        source activate vaex-dev
        cd vaex-enterprise
        mamba install -c conda-forge distributed
        pip install ray
        pip install -e .
    - name: Lint with flake8
      run: |
        echo "soon"
        # pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      shell: bash
      run: |
        ./ci/04-run-test-suite.sh
        source activate vaex-dev
        python -m vaex.ml.spec packages/vaex-ml/vaex/ml/spec_new.json
        diff packages/vaex-ml/vaex/ml/spec_new.json packages/vaex-ml/vaex/ml/spec.json
    - name: Test with pytest (vaex-enterprise)
      if: ${{ (github.event.pull_request.head.repo.full_name == 'vaexio/vaex') && (matrix.os == 'linux-latest') }}
      shell: bash
      run: |
        source activate vaex-dev
        py.test vaex-enterprise/tests --timeout=1000
    - name: Test notebooks
      if: matrix.os != 'windows-latest'
      shell: bash
      run: |
        ./ci/05-run-notebooks.sh
