name: Build universal wheel

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
    - master
  schedule:
  - cron: "0 2 * * 1-5"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build_wheels:
    name: Build ${{ matrix.package }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # pypa/gh-action-pypi-publish
    strategy:
      fail-fast: false
      matrix:
        package:
          - vaex
          - vaex-graphql
          - vaex-jupyter
          - vaex-ml
          - vaex-contrib
          - vaex-viz
          - vaex-astro
          - vaex-hdf5
          - vaex-server
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install build dependencies
      run: pip install -U pip setuptools wheel

    - name: Copy README for vaex package
      if: matrix.package == 'vaex'
      run: cp README.md packages/vaex/

    - name: Build ${{ matrix.package }}
      run: python setup.py sdist bdist_wheel
      working-directory: packages/${{ matrix.package }}

    # https://github.com/pypa/gh-action-pypi-publish#trusted-publishing
    - name: Publish ${{ matrix.package }} to PyPI
      uses: pypa/gh-action-pypi-publish@v1.12.4
      if: startsWith(github.ref, 'refs/tags')
      with:
        packages-dir: packages/${{ matrix.package }}/dist/
        skip-existing: true
