name: Build

on:
  push:
    tags:
      - viz-*
      - core-*

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        python-version: [36]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: '3.7'

    - name: Install cibuildwheel/twine
      run: |
        python -m pip install cibuildwheel==1.3.0 twine

    - name: Install Visual C++ for Python 2.7
      if: startsWith(matrix.os, 'windows')
      run: |
        choco install vcpython27 -f -y

    - name: copy build script
      run: |
        mkdir packages/vaex-core/bin
        cp bin/install_pcre.sh packages/vaex-core/bin/

    - name: Build vaex-core
      env:
        CIBW_BEFORE_BUILD: bin/install_pcre.sh
        CIBW_BUILD: cp${{ matrix.python-version }}*64
        VAEX_RELEASE_NIGHTLY: 1
      if: startsWith(github.ref, 'refs/tags/core')
      run: |
        # python -m cibuildwheel --output-dir dist packages/vaex-core
        (cd packages/vaex-core && python sdist); cp packages/vaex-core/dist/* dist/

    - name: Build vaex-viz
      if: startsWith(github.ref, 'refs/tags/viz')
      run: |
        (cd packages/vaex-core && python sdist); cp packages/vaex-viz/dist/* dist

    - uses: actions/upload-artifact@v1
      with:
        name: distributions
        path: ./dist

    # - name: Publish a Python distribution to PyPI
    #   env:
    #     TWINE_USERNAME: __token__
    #     TWINE_PASSWORD: ${{ secrets.test_pypi_password }}
    #   run: |
    #     twine upload --repository testpypi wheelhouse/*
