name: Build binary wheel

on:
  push:
    tags:
      - core-*
jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macOS-latest, windows-latest]
        python-version: [36, 37, 38]

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: debug
      if: (matrix.os == 'windows-latest')
      shell: bash
      run: |
        ls /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/Redist/
        ls /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/Redist/MSVC/
        ls /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/Redist/MSVC/14.27.29016/
        ls /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/Redist/MSVC/14.27.29016/x64/Microsoft.VC142.CRT
        cp /c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/Redist/MSVC/14.27.29016/x64/Microsoft.VC142.CRT/vcruntime140_1.dll packages/vaex-core/vaex/

    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: '3.7'

    - name: Install cibuildwheel
      run: |
        python -m pip install cibuildwheel==1.3.0

    - name: Install twine/wheel
      run: |
        python -m pip install twine wheel

    - name: Install Visual C++ for Python 2.7
      if: startsWith(matrix.os, 'windows')
      run: |
        choco install vcpython27 -f -y

    - name: chores
      if: matrix.os != 'windows-latest'
      run: |
        mkdir dist
        mkdir packages/vaex-core/bin
        cp bin/install_pcre.sh packages/vaex-core/bin/

    - name: chores
      if: matrix.os == 'windows-latest'
      shell: bash
      run: |
        mkdir dist
        mkdir packages/vaex-core/vendor/pcre
        cd packages/vaex-core/vendor/pcre
        curl https://anaconda.org/conda-forge/pcre/8.44/download/win-64/pcre-8.44-h6538335_0.tar.bz2 -Lo pcre.tar.bz2
        tar jxfv pcre.tar.bz2
        cd ../../
        cp vendor/pcre/Library/bin/*.dll vaex/
        cd ../../

    - name: Build vaex-core (windows)
      if: (matrix.os == 'windows-latest')
      env:
        CIBW_BUILD: cp${{ matrix.python-version }}*64
        CIBW_ENVIRONMENT_LINUX: "CFLAGS='-Wl,-strip-all' CXXFLAGS='-Wl,-strip-all'"
      run: |
        python -m cibuildwheel --output-dir dist packages/vaex-core

    - name: Build vaex-core (linux, osx)
      if: (matrix.os != 'windows-latest')
      env:
        CIBW_BEFORE_BUILD: bin/install_pcre.sh
        CIBW_BUILD: cp${{ matrix.python-version }}*64
        CIBW_ENVIRONMENT_LINUX: "CFLAGS='-Wl,-strip-all' CXXFLAGS='-Wl,-strip-all'"
      run: |
        python -m cibuildwheel --output-dir dist packages/vaex-core

    - name: Make source distribution
      shell: bash
      run: |
          cd packages/vaex-core && python setup.py sdist

    - name: Copy build artifacts
      shell: bash
      run: |
          cp packages/vaex-core/dist/* dist/

    - uses: actions/upload-artifact@v1
      with:
        name: distributions
        path: ./dist

    - name: Publish a Python distribution to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.pypi_password_vaex_core }}
      run: |
        twine upload --skip-existing dist/vaex-core* dist/vaex_core*
